.role-selection-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

.role-selection-container h2 {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 700;
}

.role-selection-container p {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
}

.role-selection {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  display: grid;
  gap: 10px;
}

.role-selection input {
  margin: 10px 0;
  display: none;
  text-align: start;
}

.role-input:checked + .role-label {
  background-color: #4caf50;
  color: white;
}

.role-selection label {
  width: 400px;
  height: 25px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: start;
  text-decoration: solid;
  font-weight: 500;
  font-size: small;
  font-family: "SF Pro Display", sans-serif;
}

.filter-button {
  background-color: #009172;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 418px;
  font-weight: 400;
  font-family: "SF Pro Display", sans-serif;
}

/* .filter-button:hover {
  background-color: #009172;
} */
