/* QuestionsForm.css */

.app-container {
  display: flex;
  font-family: "Arial", sans-serif;
}

.main-content {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  /* margin: 0 auto; */
  background: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif; /* Replace with the desired font */
  height: 100%;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 100px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  text-align: left;
  padding: 10px;
  /* border-bottom: 1px solid #ddd; */
}

th {
  background-color: #f7f7f7;
  /* color: white; */
}

.add-question-btn {
  display: inline-block; /* Align your button correctly with the inline flow of the document */
  margin: 5px; /* Adjust the margin as needed */
  padding: 5px; /* Padding to create the round effect based on the size of the button */
  border-radius: 150%; /* This will make the button round */
  border: 1px solid #000; /* Adjust color as needed */
  text-align: center; /* To center the '+' sign horizontally */
  line-height: 9px; /* To center the '+' sign vertically, adjust as needed */
  background-color: #fff; /* Adjust color as needed */
  color: #000; /* Adjust color as needed */
  font-size: 20px; /* Adjust size as needed */
  cursor: pointer;
}

.add-question-btn:hover {
  background-color: #e8e8e8; /* Light grey background on hover, adjust color as needed */
}

/* If using an <a> or <button> element, remove default styles */
.add-question-btn:focus,
.add-question-btn:active {
  outline: none; /* Removes the outline */
}

/* Additional styles for header and sidebar, adjust as necessary */

.sidebar {
  /* Your styles for sidebar */
  min-width: 250px; /* or whatever width you prefer */
}

.title h1 {
  font-size: 24px;
  font-family: "SF pro display";
  /* float: left; */
  margin-top: 10px;
  margin-bottom: 30px;
  justify-content: start;
  flex-direction: column;
  text-align: left;
}

@media (max-width: 480px) {
  body {
    background-color: red; /* This is just for testing */
  }
  /* ... other styles */
}
